@font-face {
    font-family: "inconsolata";
    src: url(/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "inconsolata";
    src: url(/fonts/static/Inconsolata/Inconsolata-Bold.ttf);
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;    
    
}

img {
    display: block;
    width: 100%;
}
.main-header {
    padding: 0 20px;
}
.main-header__title {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 0;
    color: #454546;
}

.main-nav {
    display: none;
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu {
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.main-header__btn {
    display: block;
    padding: 10px 30px;
    color: #464645;
    border: 1px solid #454546;
    text-decoration: none;
}

.main-header__input {
    display: block;
    padding: 10px;
}

.main {
    padding: 0 20px;
    padding-bottom: 200px;
}

                         /* Estilos de los slider*/                    

.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
    
}

.slider {
    display: flex;
    width: 400%;
    height: 50vh;
    margin-left: -100%;
}

.slider:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.145);
    height: 100%;
}

.slider__section {
    width: 25%;
  
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(225, 225, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30PX;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

                       /*Estilos de los productos*/

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;

}

.product:before {
    content: "New";
    background: rgb(255, 89, 0);
    padding: 10px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: #fff;
}


.product__imag {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.product__title {
    text-align: center;
}

.product__price {
    color:#ff002f;
    font-weight: bold;
    font-size: 1.2rem;
}

.product__icon {
    display: block;
    margin-top: 10px;
}

.container-editor {
    margin-top: 20px;

}

.container__testimonials {
    text-align: center;
    background: #f7f7f7;
    padding: 20px;
    margin: 20px 0;
}

.testimonial__txt {
    color: #777;
}

.editor__item {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.editor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.editor__circle {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px;
    color: #fff;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;

}


.editor__item:hover .editor__circle {
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;

}

.editor__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    opacity: 0;
    transition: all 0.5s;
}
.editor__item:hover:before {
    opacity: 1;
}



 /* responsive para adaptacion en todas las pantallas */

@media (max-width: 768px) {
    .slider {
    height: 30vh;
    }
    .slider__section {
    width: 50%;
    }
    }
